html {
    font-size: 16px;
    /* 1rem */
    font-family: var(--tipografia);
}


/* Estilos del banner */

.sct-banner {
    width: 100%;
}

.sct-banner h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.sct-banner p {
    color: var(--negro-texto);
    font-size: 1rem;
    margin: 0 auto;
    text-align: center;
    width: 75%;
}

.sct-banner .img-container {
    width: 100%;
}

.sct-banner .img-container img {
    width: 100%;
}